<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<jmxConfigurator />
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-20(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{80} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/%d{yyyy/MM/dd}/eits.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<Pattern>%date %level [%thread] %logger{50} [%file : %line] %msg%n</Pattern>
		</encoder>
	</appender>
	<appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/%d{yyyy/MM/dd}/error.log</fileNamePattern>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
		<encoder>
			<Pattern>%date %level [%thread] %logger{50} [%file : %line] %msg%n</Pattern>
		</encoder>
	</appender>
	<logger name="tw.com.dsc" level="DEBUG" />
	<logger name="org.hibernate.sql" level="DEBUG" />
	<!-- <logger name="org.hibernate.type" level="TRACE" /> -->
	<logger name="org.springframework.orm" level="DEBUG" />
	<root level="INFO">
		<appender-ref ref="stdout" />
		<appender-ref ref="file" />
		<appender-ref ref="error" />
	</root>
</configuration>