<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<p>Dear All,</p>
<br /><br />
<p>
KB <a target="_blank" href="http://localhost:8080/eits/edit!quickEdit.action?oid=$articleOid"> [$articleOid] : [$summary]</a> from $entryUser has been archived.
</p>
</body>
</html>