<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<p>
Dear Leader,<br/>
<br/>
An article was set to 'Ready to be published' status, and it is waiting for your final approval and publication.<br/>
The basic information is shown as below:

<table>
<tr><td bgcolor="#C0C0C0">- KB# :</td><td>$article.articleId.oid</td></tr>
<tr><td bgcolor="#C0C0C0">- Engineer :</td><td>$agent.name</td></tr>
<tr><td bgcolor="#C0C0C0">- Summery :</td><td>$article.summary</td></tr>
</table>

Please make a click on the link as below, you will be redirected directly to the Article.<br/>
<a target="_blank" href="$server/edit!quickEdit.action?oid=$article.oid"> Edit Article </a>
</p>
<p>
<font color="red">********** This E-mail was sent automatically by Knowledgebase System. Do not reply this mail directly**********</font>
</p>
</body>
</html>